user_data/*.sqlite
user_data/logs/
user_data/backtest_results/*
user_data/models/*
user_data/freqai_models/*
user_data/data/*
user_data/*.json
!user_data/config.dryrun.json
!user_data/config.freqai.dryrun.json
.env
__pycache__/
*.pyc
